/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
body {
	min-height: 100vh;
	margin: 0;
}

h1,
h2,
p {
	font-weight: 400;
}

button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	background-color: #ff1f35;
	border: 0px solid;
	border-radius: 15px;
	line-height: 20px;
	padding: 5px 24px;
	font-size: 14px;
	cursor: pointer;
}

p {
	line-height: 1.8;
}

a {
	color: var(--color-secondary);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

h1 {
	font-size: 2rem;
	font-weight: 600;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

/* Desktop styles */
@media (min-width: 1024px) {
	p {
		line-height: 1.5;
	}
}
